<div class="lg:w-full w-[100%] p-5 rounded-lg rounded-lg-gray-950 flex flex-col justify-evenly items-center lg:gap-20 gap-5  lg:px-28 lg:py-20">

    <div class="lg:flex lg:flex-row flex gap-5 flex-col rounded-lg justify-start md:px-10 p-5 items-center lg:gap-x-36 text-white bg-white/5 shadow-sm shadow-white/50" >
        <div class="max-w-lg rounded-lg text-center text-white">
            <h1 class="text-xl bg-gray-700 lg:max-w-full w-[20vh]  p-3 rounded-lg ">omg</h1>
        </div>
        <div class="lg:max-w-2xl  bg-white/10 p-3 rounded-lg">
            <p class="">Launches the BugFixer CLI — your starting point for creating project folder structures.</p>
        </div>
    </div>


    <div class="lg:flex lg:flex-row flex gap-5 flex-col rounded-lg justify-start md:px-10 p-5 items-center lg:gap-x-36 text-white bg-white/5 shadow-sm shadow-white/50" >
        <div class="max-w-lg rounded-lg text-center text-white">
            <h1 class="text-[18px] bg-gray-700 lg:max-w-full w-[20vh]  p-3 rounded-lg ">cfs    </h1>
        </div>
        <div class="lg:max-w-2xl  bg-white/10 p-3 rounded-lg">
            <p class="">Once inside the BugFixer CLI, select the cfs option to create a folder structure for your project.</p>
        </div>
    </div>


    <div class="lg:flex lg:flex-row flex gap-5 flex-col rounded-lg justify-start md:px-10 p-5 items-center lg:gap-x-36 text-white bg-white/5 shadow-sm shadow-white/50" >
        <div class="max-w-lg rounded-lg text-center text-white">
            <h1 class="text-xl bg-gray-700 lg:max-w-full w-[20vh]  p-3 rounded-lg ">Enter prompt
            </h1>
        </div>
        <div class="lg:max-w-2xl  bg-white/10 p-3 rounded-lg">
            <p class="">After selecting cfs, describe the type of project you want to set up (e.g., React app, Node.js project). Hit Enter, and the tool will generate a basic folder structure along with starter code for your project.</p>
        </div>
    </div>

</div>