<div
    class="lg:w-full w-[100%] p-5 rounded-lg rounded-lg-gray-950 flex flex-col justify-evenly items-center lg:gap-20 gap-5  lg:px-28 lg:py-20">

    <div
        class="lg:flex lg:flex-row flex gap-5 flex-col rounded-lg justify-start md:px-10 p-5 items-center lg:gap-x-36 text-white bg-white/5 shadow-sm shadow-white/50">
        <div class="max-w-lg rounded-lg text-center text-white">
            <h1 class="text-xl bg-gray-700 lg:max-w-full w-[20vh]  p-3 rounded-lg ">omg </h1>
        </div>
        <div class="lg:max-w-2xl  bg-white/10 p-3 rounded-lg">
            <p class="">Starts the BugFixer CLI — your go-to tool for identifying and resolving bugs in your project.
            </p>
        </div>
    </div>


    <div
        class="lg:flex lg:flex-row flex gap-5 flex-col rounded-lg justify-start md:px-10 p-5 items-center lg:gap-x-36 text-white bg-white/5 shadow-sm shadow-white/50">
        <div class="max-w-lg rounded-lg text-center text-white">
            <h1 class="text-[18px] bg-gray-700 lg:max-w-full w-[20vh]  p-3 rounded-lg ">fixer</h1>
        </div>
        <div class="lg:max-w-2xl  bg-white/10 p-3 rounded-lg">
            <p class="">Once inside the BugFixer CLI, select the fixer option to begin the bug-fixing process.</p>
        </div>
    </div>


    <div
        class="lg:flex lg:flex-row flex gap-5 flex-col rounded-lg justify-start md:px-10 p-5 items-center lg:gap-x-36 text-white bg-white/5 shadow-sm shadow-white/50">
        <div class="max-w-lg rounded-lg text-center text-white">
            <h1 class="text-xl bg-gray-700 lg:max-w-full w-[20vh]  p-3 rounded-lg ">Enter prompt
            </h1>
        </div>
        <div class="lg:max-w-2xl  bg-white/10 p-3 rounded-lg">
            <p class="">After selecting fixer, you'll be prompted to describe the issue you're facing — specify where
                and what the problem is —
                then hit Enter. The tool will automatically analyze, fix the bug, and rewrite your code.</p>
        </div>
    </div>

</div>