<div class="lg:w-full w-[100%] p-5 rounded-lg rounded-lg-gray-950 flex flex-col justify-evenly items-center lg:gap-20 gap-5  lg:px-28 lg:py-20">

    <div class="lg:flex lg:flex-row flex gap-5 flex-col rounded-lg justify-start md:px-10 p-5 items-center lg:gap-x-36 text-white bg-white/5 shadow-sm shadow-white/50" >
        <div class="max-w-lg rounded-lg text-center text-white">
            <h1 class="text-xl bg-gray-700 lg:max-w-full w-[20vh]  p-3 rounded-lg ">npm install </h1>
        </div>
        <div class="lg:max-w-2xl  bg-white/10 p-3 rounded-lg">
            <p class="">Installs all the dependencies listed in your package.json file into the node_modules folder. Use this to set up your project after cloning a repo.</p>
        </div>
    </div>


    <div class="lg:flex lg:flex-row flex gap-5 flex-col rounded-lg justify-start md:px-10 p-5 items-center lg:gap-x-36 text-white bg-white/5 shadow-sm shadow-white/50" >
        <div class="max-w-lg rounded-lg text-center text-white">
            <h1 class="text-[18px] bg-gray-700 lg:max-w-full w-[20vh]  p-3 rounded-lg ">npm install-g </h1>
        </div>
        <div class="lg:max-w-2xl  bg-white/10 p-3 rounded-lg">
            <p class="">Installs a package globally on your system, making it available for use in any project. Useful for installing CLI tools or utilities</p>
        </div>
    </div>


    <div class="lg:flex lg:flex-row flex gap-5 flex-col rounded-lg justify-start md:px-10 p-5 items-center lg:gap-x-36 text-white bg-white/5 shadow-sm shadow-white/50" >
        <div class="max-w-lg rounded-lg text-center text-white">
            <h1 class="text-xl bg-gray-700 lg:max-w-full w-[20vh]  p-3 rounded-lg ">npm link
            </h1>
        </div>
        <div class="lg:max-w-2xl  bg-white/10 p-3 rounded-lg">
            <p class="">Links a local package to your global node_modules directory, allowing you to use the package as if it was globally installed — great for testing packages under development.</p>
        </div>
    </div>

</div>